{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
  }
}
